#contact{
    width:500px;
    margin:0 auto;
    font-family: "Microsoft YAHEI", arial;
    font-size:14px;
    color:white;
}
#contact a{
    text-decoration: none;
    color:wheat;
}
.contact_line{
    margin: 10px 0;
}
.contact_line:hover{
    color:red;
}
.contact_header{
    font-weight: bold;
}