/*
页面整体布局
*/

* {
    font-family: "Mircrosoft Yahei", "微软雅黑", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Mircrosoft Yahei", "微软雅黑", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: black;
}

#logo_home img {
    width: 576px;
    height: 80px;
    float: right
}

.h_spliter {
    height: 10px;
    width: 100%;
    /*background-color: darkblue;*/
    clear: both;
}

#div_language_button {
    font-size: 24px;
    height: 64px;
    background-color: #1c1c1c;
    border-top: 3px solid black;
}

#language_button_de {
    box-sizing:border-box;
    width: 50%;
    float: left;
    position: relative;
    border-right:3px solid black;
}

#language_button_cn {
    box-sizing:border-box;
    width: 50%;
    float: right;
    position: relative;
}

#language_button_cn a, #language_button_de a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 64px;
    width: 100%;
    line-height: 64px;
    color: white;
    -webkit-transition: background 600ms ease-in-out;
    -moz-transition: background 600ms ease-in-out;
    -ms-transition: background 600ms ease-in-out;
    -o-transition: background 600ms ease-in-out;
    transition: background 600ms ease-in-out;
}

#div_language_button a:hover {
    background: #555;
    -webkit-transition: background 600ms ease;
    -moz-transition: background 600ms ease;
    -ms-transition: background 600ms ease;
    -o-transition: background 600ms ease;
    transition: background 600ms ease;


    border-bottom: 2px solid red;

}

#logo_home{
    height: 80px;
}



/*
.button {
    width: 100px;
    border-top: 1px solid #e30000;
    background: #d66574;
    background: -webkit-gradient(linear, left top, left bottom, from(#6e0c0c), to(#d66574));
    background: -webkit-linear-gradient(top, #6e0c0c, #d66574);
    background: -moz-linear-gradient(top, #6e0c0c, #d66574);
    background: -ms-linear-gradient(top, #6e0c0c, #d66574);
    background: -o-linear-gradient(top, #6e0c0c, #d66574);
    padding: 10px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: 'Microsoft Yahei', Arial, Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-weight: bold
}
.button:hover {
    border-top-color: #e01b3c;
    background: #e01b3c;
    background: #993300;
    color: #ccc;
}
.button:active {
    border-top-color: #de2c35;
    background: #de2c35;
}*/
